/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	
	
	
}
.backround{
    background-image: url(Image/empty-white-wooden-wall-on-wooden-floor-interior-design-3d-rendering-free-photo.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
margin: 0; }
ul{
    text-align: center;
    
    text-decoration: none;
    list-style-type: none;
    color:#737373;
    
}

ul li{
    margin: 20px;
}
form input{
   width: 30%;
   padding: 10px 10px;
}
form button{
    
    padding: 10px 10px;
    background-color: #23A6F0;
    color: white;
border-radius: 2%;
border-color: #23A6F0;
}
h1{
   color:#23A6F0 ; 
}
h2{
    color: black;
}